<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gerencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./static/table.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css"/>
</head>
<body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul id='messages' class="list-unstyled">
        {% for message in messages %}
        <li class="flash-messages form-control success">
            {{ message }}
        </li>
        {% endfor %}
    {% endif %}{% endwith %}
    </ul>
    <h1 style="text-align:center">Estoque</h1>
    <div class="container">
        <table id="customers">
            <tr>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Custo</th>
                <th>Preço</th>
            </tr>
            {% for item in itens %}
                <tr>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container">
        <div class="row">
            <form action="/atualiza_estoque" class="col-sm-6" method="POST">
                <Label>Adicionar ao Estoque</Label>
                <input type="hidden" name="add_est" value="1">
                <select name="id_item" class="form-control">
                    {%for i in itens%}
                        <option value="{{i[0]}}">{{i[1]}}</option>
                    {%endfor%}
                </select>
                <input type="number" name="quantidade" class="form-control" placeholder="Quantos itens?">
                <button type="submit" class="form-control btn btn-success">Adicionar</button>
            </form>
            
            <form action="/atualiza_estoque" class="col-sm-6" method="POST">
                <Label>Vender</Label>
                <input type="hidden" name="rm_est" value="1">
                <select name="id_item" class="form-control">
                    {%for i in itens%}
                        <option value="{{i[0]}}">{{i[1]}}</option>
                    {%endfor%}
                </select>
                <input type="number" name="quantidade" class="form-control" placeholder="Quantos itens?">
                <button type="submit" class="btn btn-danger form-control">Vender</button>
            </form>
        </div>
    </div>

    <div class="container">
        <h2 style="text-align:center;">Adicionar Novo Produto</h2>
        <form action="/atualiza_estoque" method="POST">
            <div class="row">

                <div class="form-group col-sm-6">
                    <label for="item">Nome</label>
                    <input type="hidden" name="novo_est" value="1">
                    <input placeholder="Nome do Item" type="text" class="form-control" name="item" id="item">
                </div>
                <div class="form-group col-sm-6">
                    <label for="custo">Custo</label>
                    <input placeholder="Preço de custo" type="text" class="form-control" name="custo" id="custo">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="preco">Preço</label>
                    <input placeholder="Valor para venda" type="text" class="form-control" name="preco" id="preco">
                </div>
                <div class="form-group col-sm-6">
                    <label for="quantidade">Quantidade</label>
                    <input placeholder="Total de Itens" type="text" class="form-control" name="quantidade" id="quantidade">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="categoria">Categoria</label>
                    <input placeholder="Qual o tipo de item?" type="text" class="form-control" name="categoria" id="categoria">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <h1 style="text-align:center">Vendas</h1>
    <div class="container">
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Custo</th>
                <th>Preço</th>
                <th>Data</th>
                <th>Retirado</th>
            </tr>
            {% for item in itens_vendas %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h1 style="text-align:center">Historico</h1>
    <div class="container">
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Custo</th>
                <th>Preço</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Adicionado</th>
                <th>Retirado</th>
            </tr>
            {% for item in historico %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{%if item[8] %}Sim{%else%}Não{%endif%}</td>
                <td>{%if item[9] %}Sim{%else%}Não{%endif%}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>